@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&family=Sigmar&display=swap");

* {
    font-family: "Sigmar", cursive;
    margin: 0;
    padding: 0;
}

p,
h2 {
    font-family: "Pathway Extreme", sans-serif;
    margin-bottom: 1rem;
}

header {
    background-color: #000;
    color: #fff;
    padding: 0 2rem 1rem 2rem;
    text-align: center;
}

main {
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
}

span {
    color: #777;
    font-style: italic;
}

.icons {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
}

.icon {
    height: 48px;
    width: 48px;
}

.ucll {
    height: 75px;
    width: 75px;
}

img {
    width: 50%;
    margin-bottom: 1rem;
    display: block;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
}

video {
    width: 50%;
    margin-bottom: 1rem;
    display: block;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 2rem;
    text-align: center;
}
